<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-home"></span> Company
	</p>
	<button type="button" class="btn btn-default navbar-btn" (click)="gotoList()">
		<span class="glyphicon glyphicon-menu-hamburger"></span>
	</button>
</nav>
<div class="panel panel-default">
	<div class="panel-heading">
		Info
		<button type="button" class="btn btn-link btn-xs" (click)="gotoEdit()">edit</button>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Company name</dt>
			<dd>{{company.name}}</dd>
			<dt>Description</dt>
			<dd>
				<pre class="memo">{{company.description}}</pre>
			</dd>
			<dt>Country</dt>
			<dd>{{company.country}}</dd>
			<dt>City</dt>
			<dd>{{company.city}}</dd>
			<dt>Activities</dt>
			<dd>{{company.activities}}</dd>
			<dt>Phone</dt>
			<dd>{{company.phone}}</dd>
			<dt>Website</dt>
			<dd>{{company.website}}</dd>
		</dl>
		<span class="text-nowrap"><small>created: <em>{{company.created | date:'short'}}</em></small></span>
		<span class="text-nowrap"><small>updated: <em>{{company.updated | date:'short'}}</em></small></span>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Notes
		<button type="button" class="btn btn-link btn-xs" (click)="addNote()" [disabled]="note">add note</button>
	</div>
	<div class="panel-body">
		<div class="form-group" *ngIf="note">
			<textarea [(ngModel)]="note.text" name="note.text" id="note.text" rows="3" class="form-control"></textarea>
			<button type="button" class="btn btn-default btn-sm" (click)="cancelNote()"><span class="glyphicon glyphicon-remove"></span> cancel</button>
			<button type="button" class="btn btn-default btn-sm" (click)="saveNote()"><span class="glyphicon glyphicon-ok"></span> SAVE</button>
		</div>
		<dl>
			<ng-template ngFor let-note [ngForOf]="company.notes" let-i="index">
				<dt class="note">
					<small><em>{{note.created | date:'short'}}</em></small>
					<button *ngIf="indNoteToDel === -1" type="button" title="delete note below" class="btn btn-default btn-xs" (click)="removeNote(i)"><span class="glyphicon glyphicon-trash"></span></button>
					<span *ngIf="indNoteToDel === i">delete note?
					<button type="button" title="cancel deletion" class="btn btn-default btn-xs" (click)="cancelNote()"><span class="glyphicon glyphicon-remove"></span></button>
					<button type="button" title="confirm deletion" class="btn btn-default btn-xs" (click)="removeNote(i)"><span class="glyphicon glyphicon-ok"></span></button>
					</span>
				</dt>
				<dd>
					<pre class="memo">{{note.text}}</pre>
				</dd>
			</ng-template>

		</dl>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Contacts
		<button type="button" class="btn btn-link btn-xs" (click)="addContact()">add contact</button>
		<button type="button" class="btn btn-link btn-xs" (click)="toggleActive()">
			<span class="glyphicon glyphicon-{{checkGlyph}}"></span>
			include fired
		</button>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>name</th>
					<th>job title</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let contact of company.contacts" (click)="contactDetails(contact.id)">
					<td>
						{{contact.name}}
						<sup *ngIf="contact.isNew"><mark>new</mark></sup>
						<sup *ngIf="!contact.active">fired!</sup>
					</td>
					<td>{{contact.jobTitle}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<app-participant-list [company]="domainItem"></app-participant-list>