<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-user"></span> Contact
	</p>
	<button type="button" class="btn btn-default navbar-btn" (click)="gotoCompany()">
		<span class="glyphicon glyphicon-home"></span>
	</button>
</nav>
<div class="panel panel-default">
	<div class="panel-heading">
		Info
		<button type="button" class="btn btn-link btn-xs" (click)="gotoEdit()">edit</button>
		<button type="button" class="btn btn-link btn-xs pull-right" (click)="toggleHiring()">
			<span class="glyphicon glyphicon-{{hiringGlyph}}"></span>
			{{hiringSign}}
		</button>
		<!--<button type="button" class="btn btn-link btn-xs pull-right" (click)="gotoEdit()">move</button>-->
	</div>
	<div class="panel-body">
		<div *ngIf="!contact.active" class="panel-heading bg-danger">this contact was fired!</div>
		<dl class="dl-horizontal">
			<dt>First name</dt>
			<dd>{{contact.firstName}}</dd>
			<dt>Last name</dt>
			<dd>{{contact.lastName}}</dd>
			<dt>Job title</dt>
			<dd>{{contact.jobTitle}}</dd>
			<dt>Job responsibilities</dt>
			<dd>{{contact.jobResponsibilities}}</dd>
			<dt>BUY content responsibilities</dt>
			<dd>{{contact.buyContents}}</dd>
			<dt>SELL content responsibilities</dt>
			<dd>{{contact.sellContents}}</dd>
			<dt>Phone</dt>
			<dd>{{contact.phone}}</dd>
			<dt>Mobile</dt>
			<dd>{{contact.mobile}}</dd>
			<dt>Email</dt>
			<dd>{{contact.email}}</dd>
		</dl>
		<span class="text-nowrap"><small><em>created:</em> {{contact.created | date:'dd MMM yyyy HH:mm'}}</small></span>
		<span class="text-nowrap"><small><em>updated:</em> {{contact.updated | date:'dd MMM yyyy HH:mm'}}</small></span>
	</div>
</div>