<div class="panel panel-default" *ngIf="!collapsed; else linePanel">
	<div class="panel-heading">
		Contacts
		<button type="button" class="btn btn-link btn-xs" (click)="addContact()">add contact</button>
		<button type="button" class="btn btn-link btn-xs" (click)="toggleActive()">
			<span class="glyphicon glyphicon-{{checkGlyph}}"></span>
			include fired
		</button>
		<div class="pull-right">
			<button type="button" class="btn btn-xs" (click)="toggleCollapse()">
				<span class="glyphicon glyphicon-minus"></span>
			</button>
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>name</th>
					<th>job title</th>
					<th>contacts</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let contact of getContacts()">
					<td>
						<a routerLink="/contact/details/{{company.id}}/{{contact.id}}">{{contact.name}}</a>
						<sup *ngIf="contact.isNew">
							<mark>new</mark>
						</sup>
						<sup *ngIf="!contact.active">fired!</sup>
					</td>
					<td>{{contact.jobTitle}}</td>
					<td>
						<span *ngIf="contact.mobile" style="white-space: nowrap">
							<span class="glyphicon glyphicon-phone"></span> {{contact.mobile}} </span>
						<span *ngIf="contact.phone" style="white-space: nowrap">
							<span class="glyphicon glyphicon-phone-alt"></span> {{contact.phone}}</span>
						<span *ngIf="contact.email" style="white-space: nowrap">
							<span class="glyphicon glyphicon-envelope"></span> {{contact.email}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<ng-template #linePanel>
	<div class="panel panel-default">
		<div class="panel-heading">
			Contacts:
			<strong>{{getContacts().length}}</strong>
			<div class="pull-right">
				<button type="button" class="btn btn-xs" (click)="toggleCollapse()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
	</div>
</ng-template>
