<app-edit-header glyphTag="{{meta.glyphTag}}" label="{{id ? id : 'new'}}" (onSubmit)="submit($event)"
 (onDelete)="delete()"></app-edit-header>
<form>
	<div class="form-group">
		<label for="name">{{meta.singularTitle}} name</label>
		<input [(ngModel)]="name" type="text" name="name" id="name" required="required" class="form-control"
		 placeholder="type name of {{meta.singularTitle.toLowerCase()}} here">
	</div>
</form>
<div class="row">
	<div class="col-md-6">
		<h4>{{meta.singularTitle}}'s countries:</h4>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let item of countries" (click)="exclude(item._id)">
				<span class="badge">{{item._id}}</span> {{item.name}}
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<h4>Other countries:</h4>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let item of dirCountries" (click)="include(item._id)">
				<span class="badge">{{item._id}}</span> {{item.name}}
			</li>
		</ul>
	</div>
</div>