<form class="padded-less">
  <div class="form-group">
    <label>Country code</label>
    <input type="text" maxlength="3" required="required" name="code" [(ngModel)]="country.code" class="form-control" placeholder="type unique country code here"/>
  </div>
  <div class="form-group">
    <label>Country name</label>
    <input type="text" name="name" [(ngModel)]="country.name" class="form-control" placeholder="type country name here"/>
  </div>
  <button class="btn btn-mini btn-primary" (click)="save()">Save</button>
  <button class="btn btn-mini btn-default" (click)="gotoBack()">Cancel</button>
</form>
