<app-edit-header glyphTag="globe" label="{{country.code ? country.code : 'new'}}" (onSubmit)="submit($event)"></app-edit-header>
<form>
	<div class="form-group">
		<label for="code">Country code</label>
		<input [(ngModel)]="country.code" type="text" name="code" id="code" maxlength="3" size="3" required="required" class="form-control"
		 placeholder="type unique country code here">
	</div>

	<div class="form-group">
		<label for="name">Country name</label>
		<input [(ngModel)]="country.name" type="text" name="name" id="name" class="form-control" placeholder="type country name here">
	</div>
</form>