<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-globe"></span> {{country.code ? country.code : 'new'}}
	</p>
	<button type="button" class="btn btn-default navbar-btn" (click)="gotoBack()">
		<span class="glyphicon glyphicon-remove"></span> cancel
	</button>
	<button type="button" class="btn btn-default navbar-btn" (click)="save()">
		<span class="glyphicon glyphicon-ok"></span> SAVE
	</button>
</nav>
<form>
	<div class="form-group">
		<label for="code">Country code</label>
		<input [(ngModel)]="country.code" type="text" name="code" id="code" maxlength="3" size="3" required="required" class="form-control"
		 placeholder="type unique country code here">
	</div>

	<div class="form-group">
		<label for="name">Country name</label>
		<input [(ngModel)]="country.name" type="text" name="name" id="name" class="form-control" placeholder="type country name here">
	</div>
</form>