<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-tags"></span> {{title}}
	</p>
	<button type="button" class="btn btn-default navbar-btn" (click)="gotoEdit('__new__')">
		<span class="glyphicon glyphicon-plus"></span> add new
	</button>
</nav>
<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>region name</th>
			<th>countries</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items" (click)="gotoEdit(item._id)">
			<td>{{item.name}}</td>
			<td>{{item.countries.join(' ')}}</td>
		</tr>
	</tbody>
</table>