<header class="toolbar toolbar-header padded-less">
	<div class="toolbar-actions">
		<button class="btn btn-large btn-default" (click)="gotoBack()">
			<span class="icon icon-cancel"></span> cancel
		</button>
		<button class="btn btn-large btn-default" (click)="save()">
			<span class="icon icon-check"></span> SAVE
		</button>
	</div>
</header>
<div class="pane padded">
	<form>
		<div class="form-group">
			<label>Region name</label>
			<input type="text" required="required" name="name" [(ngModel)]="region.name" class="form-control" placeholder="type name of region here" />
		</div>
	</form>
</div>
<div class="padded">
	<div class="padded-less">
		<h4>Region's countries:</h4>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let item of region.countries" (click)="exclude(item._id)">
				<div class="media-body">
					<strong>{{item._id}}</strong>
					<p>{{item.name}}</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="padded-less">
		<h4>Other countries:</h4>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let item of countries" (click)="include(item._id)">
				<div class="media-body">
					<strong>{{item._id}}</strong>
					<p>{{item.name}}</p>
				</div>
			</li>
		</ul>
	</div>
</div>