<header class="toolbar toolbar-header padded-less">
	<div class="toolbar-actions">
		<div class="btn-group">
			<button class="btn btn-large btn-default" (click)="gotoEdit('__new__')">
        	<span class="icon icon-plus"></span> new region
      </button>
		</div>
	</div>
</header>
<div class="pane padded">
<table class="table-striped">
	<thead>
		<tr>
			<th>region name</th>
			<th>countries</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items" (click)="gotoEdit(item._id)">
			<td>{{item.name}}</td>
			<td>{{item.countries.join(' ')}}</td>
		</tr>
	</tbody>
</table>
</div>