<header class="toolbar toolbar-header padded-less">
	<div class="toolbar-actions">
		<button class="btn btn-large btn-default" (click)="gotoBack()">
			<span class="icon icon-cancel"></span> cancel
		</button>
		<button class="btn btn-large btn-default" (click)="save()">
			<span class="icon icon-check"></span> SAVE
		</button>
	</div>
</header>
<div class="pane padded">
	<form>
		<div class="form-group">
			<label>Region name</label>
			<input type="text" required="required" name="name" [(ngModel)]="region.name" class="form-control" placeholder="type name of region here"/>
		</div>
	</form>
</div>