<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-home"></span> Company
	</p>
	<button type="button" class="btn btn-default navbar-btn" (click)="gotoEdit(company.id)">
		<span class="glyphicon glyphicon-pencil"></span> edit
	</button>
</nav>
<div class="panel panel-default">
	<div class="panel-heading">
		Info
		<button type="button" class="btn btn-link btn-xs" (click)="gotoEdit(company.id)">edit</button>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Company name</dt>
			<dd>{{company.name}}</dd>
			<dt>Description</dt>
			<dd>
				<pre class="memo">{{company.description}}</pre>
			</dd>
			<dt>Country</dt>
			<dd>{{company.country}}</dd>
			<dt>Activities</dt>
			<dd>{{company.activities}}</dd>
			<dt>City</dt>
			<dd>{{company.city}}</dd>
			<dt>Phone</dt>
			<dd>{{company.phone}}</dd>
			<dt>Website</dt>
			<dd>{{company.website}}</dd>
		</dl>
		<span class="text-nowrap"><small>created: <em>{{company.created | date:'short'}}</em></small></span>
		<span class="text-nowrap"><small>updated: <em>{{company.updated | date:'short'}}</em></small></span>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Notes
		<button type="button" class="btn btn-link btn-xs" (click)="addNote()" [disabled]="note">add note</button>
	</div>
	<div class="panel-body">
		<div class="form-group" *ngIf="note">
			<textarea [(ngModel)]="note.text" name="note.text" id="note.text" rows="3" class="form-control"></textarea>
			<button type="button" class="btn btn-default btn-sm" (click)="cancelNote()"><span class="glyphicon glyphicon-remove"></span> cancel</button>
			<button type="button" class="btn btn-default btn-sm" (click)="saveNote()"><span class="glyphicon glyphicon-ok"></span> SAVE</button>
		</div>
		<div class="row" *ngFor="let note of company.notes">
			<div class="col-md-1">
				<span class="text-nowrap"><small><em>{{note.created | date:'short'}}</em></small></span>
			</div>
			<div class="col-md-11">
				<pre class="memo">{{note.text}}</pre>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Contacts
		<button type="button" class="btn btn-link btn-xs">add contact</button>
	</div>
	<div class="panel-body"></div>
</div>