<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-home"></span> Company
	</p>
	<button type="button" class="btn btn-default navbar-btn" (click)="gotoEdit(company.id)">
		<span class="glyphicon glyphicon-pencil"></span> edit
	</button>
</nav>
<div class="panel panel-default">
	<div class="panel-heading"><strong>{{company.name}}</strong></div>
	<div class="panel-body">
		<!--<div class="row">
			<div class="col-md-2">Company name</div>
			<div class="col-md-10"><strong>{{company.name}}</strong></div>
		</div>-->
		<!--<div class="row">
			<div class="col-md-2">Description</div>
			<div class="col-md-10">{{company.description}}</div>
		</div>
		<div class="row">
			<div class="col-md-2">Country</div>
			<div class="col-md-10">{{company.country}}</div>
		</div>
		<div class="row">
			<div class="col-md-2">City</div>
			<div class="col-md-10">{{company.city}}</div>
		</div>
		<div class="row">
			<div class="col-md-2">Phone</div>
			<div class="col-md-10">{{company.phone}}</div>
		</div>
		<div class="row">
			<div class="col-md-2">Website</div>
			<div class="col-md-10">{{company.website}}</div>
		</div>
		<div class="row">
			<div class="col-md-12"><small>updated: {{company.updated | date:'short'}}, created: {{company.created | date:'short'}}</small></div>
		</div>-->
		<dl class="dl-horizontal">
			<dt>Description</dt>
			<dd>{{company.description}}</dd>
			<dt>Country</dt>
			<dd>{{company.country}}</dd>
			<dt>City</dt>
			<dd><{{company.city}}</dd>
			<dt>Phone</dt>
			<dd>{{company.phone}}</dd>
			<dt>Website</dt>
			<dd>{{company.website}}</dd>
		</dl>
	</div>
</div>
<h4>notes</h4>
<div class="row">
	<div class="col-md-12" *ngIf="!this.note">
		<button type="button" class="btn btn-default btn-xs" (click)="addNote()"><span class="glyphicon glyphicon-plus"></span> new note</button>
	</div>
	<div class="col-md-1" *ngIf="this.note">
		<button type="button" class="btn btn-default btn-xs" (click)="cancelNote()">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<button type="button" class="btn btn-default btn-xs" (click)="saveNote()">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
	</div>
	<div class="col-md-11" *ngIf="this.note">
		<textarea id="note.text" [(ngModel)]="note.text" rows="3" class="form-control"></textarea>
	</div>
</div>
<div class="row" *ngFor="let note of company.notes">
	<div class="col-md-1 text-right"><small>{{note.created | date:'short'}}</small></div>
	<div class="col-md-11">
		<pre style="white-space: pre-wrap;">{{note.text}}</pre>
	</div>
</div>