<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-home"></span> Company
	</p>
	<button type="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-remove"></span> cancel
	</button>
	<button type="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-ok"></span> SAVE
	</button>
</nav>
<form [formGroup]="companyForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
</form>
<p>Form value: {{ companyForm.value | json }}</p>
<p>Form status: {{ companyForm.status | json }}</p>
<!--<form>
	<div class="form-group">
		<label for="code">{{dirEntries.meta.singularTitle}} code</label>
		<input [(ngModel)]="code" type="text" name="code" id="code" maxlength="3" size="3" required="required" class="form-control"
		 placeholder="type unique {{dirEntries.meta.singularTitle.toLowerCase()}} code here">
	</div>

	<div class="form-group">
		<label for="name">{{dirEntries.meta.singularTitle}} name</label>
		<input [(ngModel)]="name" type="text" name="name" id="name" class="form-control" placeholder="type {{dirEntries.meta.singularTitle.toLowerCase()}} name here">
	</div>
</form>-->