<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
	<nav class="navbar navbar-default">
		<p class="navbar-text">
			<span class="glyphicon glyphicon-user"></span> Contact
		</p>
		<button type="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-remove"></span> cancel
	</button>
		<button type="button" [disabled]="contactForm.pristine || contactForm.invalid" class="btn btn-default navbar-btn" (click)="onSubmit()">
		<span class="glyphicon glyphicon-ok"></span> SAVE
	</button>
	</nav>

	<div class="form-group">
		<label for="name">Name:</label>
		<input id="name" formControlName="name" type="text" class="form-control" placeholder="type name of contact here (required)">
	</div>
	<div class="form-group">
		<label for="jobTitle">Job Title:</label>
		<input id="jobTitle" formControlName="jobTitle" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label for="jobResponsibilities">Job Responsibilities:</label>
		<select multiple id="jobResponsibilities" formControlName="jobResponsibilities" class="form-control">
				<option *ngFor="let item of jobResponsibilities | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="buyContents">Buy Content Responsibilities:</label>
		<select multiple id="buyContents" formControlName="buyContents" class="form-control">
				<option *ngFor="let item of contentResponsibilities | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="sellContents">Sell Contents Responsibilities:</label>
		<select multiple id="sellContents" formControlName="sellContents" class="form-control">
				<option *ngFor="let item of contentResponsibilities | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="phone">Phone number:</label>
		<input id="phone" formControlName="phone" type="tel" class="form-control">
	</div>
	<div class="form-group">
		<label for="mobile">Mobile number:</label>
		<input id="mobile" formControlName="mobile" type="tel" class="form-control">
	</div>
	<div class="form-group">
		<label for="email">Email address:</label>
		<input id="email" formControlName="email" type="email" class="form-control">
	</div>
</form>