<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-oil"></span> Database Maintenance
	</p>
</nav>
<div class="panel panel-default">
	<div class="panel-heading">Database data transfer</div>
	<div class="panel-body">
		<p class="bg-danger">Database content manipulation functions, use carefully!</p>
		<p><button type="button" class="btn btn-default navbar-btn" (click)="export()">Export database to file</button></p>
		<p>{{transferStatus}}</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Database backup / restoring / clearing</div>
	<div class="panel-body">
		<p class="bg-danger">Experimental functions, use carefully!</p>
		<p><button type="button" class="btn btn-default navbar-btn" (click)="backup()">Backup database</button></p>
		<p class="text-center"><button type="button" class="btn btn-default navbar-btn" (click)="restore()">Restore database</button></p>
		<p class="text-right"><button type="button" class="btn btn-default navbar-btn" (click)="clear()">Clear database</button></p>
		<p>{{replicationStatus}}</p>
	</div>
</div>