<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-oil"></span> Database Maintenance
	</p>
</nav>
<div class="panel panel-default">
	<div class="panel-heading">Database backup / restoring / clearing</div>
	<div class="panel-body">
		<p class="bg-danger">Experimental functions, use carefully!</p>
		<button type="button" class="btn btn-default navbar-btn" (click)="backup()">Backup database</button>
		<button type="button" class="btn btn-default navbar-btn" (click)="restore()">Restore database</button>
		<button type="button" class="btn btn-default navbar-btn" (click)="clear()">Clear database</button>
		<p>{{replicationStatus}}</p>
	</div>
</div>