<form [formGroup]="participantForm">
	<nav class="navbar navbar-default">
		<p class="navbar-text">
			<span class="glyphicon glyphicon-briefcase"></span> Participant
		</p>
	</nav>
	<div class="form-group">
		<label>Company:</label> {{(targetCompany | async)?.name}}
	</div>
	<div class="form-group">
		<label for="event">Event:</label>
		<select id="event" formControlName="event" class="form-control">
			<option value="">[choose event]</option>
			<option *ngFor="let item of allEvents | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="contact">Contact:</label>
		<select id="contact" formControlName="contact" class="form-control">
			<option value="">[choose contact]</option>
			<option *ngFor="let item of allowedContacts | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
</form>