<form [formGroup]="participantForm">
	<nav class="navbar navbar-default">
		<p class="navbar-text">
			<span class="glyphicon glyphicon-briefcase"></span> Participant
		</p>
		<button type="button" class="btn btn-default navbar-btn" (click)="onCancel()">
			<span class="glyphicon glyphicon-arrow-left"></span> close
		</button>
		<button type="button" [disabled]="participantForm.pristine || participantForm.invalid || modalRef"
		 class="btn btn-default navbar-btn" (click)="onSubmit()">
			<span class="glyphicon glyphicon-ok"></span> UPDATE
		</button>
		<button type="button" [disabled]="modalRef" class="btn btn-default navbar-btn pull-right" (click)="deleteConfirm(template)">
			<span class="glyphicon glyphicon-trash"></span> delete
		</button>
	</nav>
	<div class="panel panel-default">
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Company</dt>
				<dd><a routerLink="/company/details/{{targetCompany?._id}}">{{targetCompany?.name}}</a></dd>
				<dt>Event</dt>
				<dd><a routerLink="/event/edit/{{targetEvent?._id}}">{{targetEvent?.name}}</a></dd>
				<dt>Contact</dt>
				<dd><a routerLink="/contact/details/{{targetCompany?._id}}/{{targetContact?._id}}">{{targetContact?.name}}</a>
					<span *ngIf="targetContact && !targetContact.active" class="text-danger"> <small>(this contact was fired)</small></span>
				</dd>
			</dl>

			<span class="text-nowrap"><small><em>created:</em> {{targetParticipant?.created | date:'dd MMM yyyy HH:mm'}}</small></span>
			<span class="text-nowrap"><small><em>updated:</em> {{targetParticipant?.updated | date:'dd MMM yyyy HH:mm'}}</small></span>
		</div>
	</div>
	<div class="form-group">
		<label for="category">Category:</label>
		<select id="category" formControlName="category" class="form-control">
			<option *ngFor="let item of categories | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="status">Status:</label>
		<select id="status" formControlName="status" class="form-control">
			<option *ngFor="let item of statuses | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="registrationFee">Registration Fee:</label>
		<input id="registrationFee" formControlName="registrationFee" type="text" class="form-control"
		/>
	</div>
	<div class="form-group">
		<label for="freeNights">Free Nights:</label>
		<input id="freeNights" formControlName="freeNights" type="text" class="form-control" />
	</div>
	<div class="form-group">
		<label for="arrivalDate">Arrival date:</label>
		<input id="arrivalDate" formControlName="arrivalDate" type="date" class="form-control" />
	</div>
	<div class="form-group">
		<label for="departureDate">Departure date:</label>
		<input id="departureDate" formControlName="departureDate" type="date" class="form-control"
		/>
	</div>
	<div class="form-group">
		<label>
			<input formControlName="visaRequired" type="checkbox" />
			Visa Required
		</label>
	</div>
	<div class="form-group">
		<label>
			<input formControlName="participantValidated" type="checkbox" />
			Participant Validated
		</label>
	</div>
</form>
<ng-template #template>
	<div class="modal-body" role="dialog">
		<div class="panel panel-default">
			<div class="panel-body">You are about to delete participant record from database. This can't be undone. Are you
				sure?
			</div>
		</div>
		<button type="button" class="btn btn-info" (click)="deleteCancel()">No, no way</button>
		<button type="button" class="btn btn-danger" (click)="onDelete()">Yes, delete</button>
	</div>
</ng-template>