<form [formGroup]="participantForm">
	<nav class="navbar navbar-default">
		<p class="navbar-text">
			<span class="glyphicon glyphicon-briefcase"></span> Participant
		</p>
		<button type="button" class="btn btn-default navbar-btn" (click)="onCancel()">
			<span class="glyphicon glyphicon-remove"></span> cancel
		</button>
		<button type="button" [disabled]="participantForm.pristine || participantForm.invalid" class="btn btn-default navbar-btn"
		 (click)="onSubmit()">
			<span class="glyphicon glyphicon-ok"></span> ADD
		</button>
	</nav>
	<div class="form-group">
		<label>Company:</label> {{(targetCompany | async)?.name}}
	</div>
	<div class="form-group">
		<label for="event">Event:</label>
		<select id="event" formControlName="event" class="form-control">
			<option value="">[choose event]</option>
			<option *ngFor="let item of allEvents | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="contact">Contact:</label>
		<select id="contact" formControlName="contact" class="form-control">
			<option value="">[choose contact]</option>
			<option *ngFor="let item of allowedContacts | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="category">Category:</label>
		<select id="category" formControlName="category" class="form-control">
			<option value="">[choose category]</option>
			<option *ngFor="let item of categories | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="status">Status:</label>
		<select id="status" formControlName="status" class="form-control">
			<option value="">[choose status]</option>
			<option *ngFor="let item of statuses | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="registrationFee">Registration Fee:</label>
		<input id="registrationFee" formControlName="registrationFee" type="text" class="form-control" />
	</div>
	<div class="form-group">
		<label for="freeNights">Free Nights:</label>
		<input id="freeNights" formControlName="freeNights" type="text" class="form-control" />
	</div>
</form>