<div class="window">
	<!--<header class="toolbar toolbar-header">
		<h1 class="title">{{title}}</h1>
	</header>-->
	<!--<div class="window-content">
		<div class="pane-group">
			<div class="pane-sm sidebar">
				<h5 class="nav-group-title">Directories</h5>
				<a routerLink="/countries" class="nav-group-item" routerLinkActive="active">countries</a>
			</div>
			<div class="pane">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>-->

	<div class="window-content">
		<div class="pane-group">
			<div class="pane pane-sm sidebar">
				<nav class="nav-group">
					<h5 class="nav-group-title">Directories</h5>
					<a routerLink="/countries" class="nav-group-item" routerLinkActive="active">
						<span class="icon icon-globe"></span> countries
					</a>
				</nav>
			</div>
			<div class="pane">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<footer class="toolbar toolbar-footer">Footer</footer>
</div>