<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-transfer"></span> Transfering data from excel file
	</p>
</nav>
<p *ngIf="newCountry">
	New country is found. To insert it to directory, please provide country code.
	<b>{{newCountry}}</b>:
	<input #countryCode size="3" maxlength="3" />
	<button type="button" (click)="addCountry(countryCode.value); countryCode.value = '';">add country</button>
</p>
<div *ngIf="variantCompany">
	<p>Differences in records for company is found.
		<br/>The name of company, all letters lowercased:
		<b>{{variantCompany.companyKey}}</b>
	</p>
	<table *ngIf="variantCompany.company; else newCompany">
		<tr>
			<th>name</th>
			<th>country</th>
			<th>website</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td>{{variantCompany.company.name}}</td>
			<td>{{variantCompany.company.country}}</td>
			<td>{{variantCompany.company.website}}</td>
			<td>
				<button (click)="resolveCompany(-1)">keep as is</button>
			</td>
		</tr>
	</table>
	<ng-template #newCompany>
		<p>The company is not found in our database</p>
	</ng-template>
	<div>
		Choose the right record to save:
		<table>
			<tr>
				<th>name</th>
				<th>country</th>
				<th>website</th>
				<th>&nbsp;</th>
			</tr>
			<tr *ngFor="let ind of variantCompany.extractCompanyVariantIndexes()">
				<td>{{variantCompany.datas[ind].company.name}}</td>
				<td>{{variantCompany.datas[ind].company.countryName}} ({{variantCompany.datas[ind].company.country}})</td>
				<td>{{variantCompany.datas[ind].company.website}}</td>
				<td>
					<button (click)="resolveCompany(ind)">save this variant</button>
				</td>
			</tr>
		</table>
	</div>
</div>
<div *ngIf="variantContactIndex > -1">waiting for contact to save...</div>
<hr/>
<p *ngFor="let item of logs">{{item}}</p>
