<p *ngIf="newCountry">
	New country is found. To insert it to directory, please provide country code.
	<b>{{newCountry}}</b>:
	<input #countryCode size="3" maxlength="3" />
	<button type="button" (click)="addCountry(countryCode.value); countryCode.value = '';">add country</button>
</p>
<table *ngIf="diffItem">
	<tr *ngFor="let key of diffItem.keys; index as i;">
		<th>{{key}}</th>
		<td>{{diffItem.origs[i] || '[no value]'}}</td>
		<td>{{diffItem.updts[i] || '[no value]'}}</td>
	</tr>
	<tr>
		<th>-></th>
		<td>
			<button>keep</button>
		</td>
		<td>
			<button>update</button>
		</td>
	</tr>
</table>
<hr/>
<p *ngFor="let item of logs">{{item}}</p>
