<nav class="navbar navbar-default">
	<p class="navbar-text">
		<span class="glyphicon glyphicon-search"></span> Search
	</p>
</nav>
<div class="panel panel-default">
	<div class="panel-heading">Search Query Form</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label for="name">Company Name:</label>
				<input id="name" type="text" class="form-control" />
			</div>
			<button type="button" class="btn btn-info">
				<span class="glyphicon glyphicon-search"></span> FIND
			</button>
		</form>
	</div>
</div>