<div class="panel panel-default">
	<div class="panel-heading">
		Search Query Form
		<span class="pull-right" *ngIf="searchCriterias.length > 0">
			<select #criteriaBox>
				<option *ngFor="let criteria of searchCriterias" [value]="criteria.key">{{criteria.title}}</option>
			</select>
			<button class="btn btn-default btn-sm" type="button" (click)="addCriteria(criteriaBox.value)">add criteria</button>
		</span>
	</div>
	<div class="panel-body">
		<form [formGroup]="searchForm" class="form-horizontal">
			<ng-template ngFor let-key [ngForOf]="searchManager.inUse" let-i="index">
				<div [ngSwitch]="searchManager.getKeyName(key)" class="form-group form-group-md">
					<ng-template [ngSwitchCase]="searchManager.companyNameKey">
						<label class="col-md-3 control-label" for="{{key}}">company name contains</label>
						<div class="col-md-8">
							<input id="{{key}}" formControlName="{{key}}" type="text" class="form-control" />
						</div>
						<div class="col-md-1">
							<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</ng-template>
					<ng-template [ngSwitchCase]="searchManager.contactNameKey">
						<label class="col-md-3 control-label" for="{{key}}">has contact name contains</label>
						<div class="col-md-8">
							<input id="{{key}}" formControlName="{{key}}" type="text" class="form-control" />
						</div>
						<div class="col-md-1">
							<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</ng-template>
					<ng-template [ngSwitchCase]="searchManager.participateKey">
						<label for="{{key}}" class="col-md-3 control-label">participating in</label>
						<div class="col-md-8">
							<select id="{{key}}" formControlName="{{key}}" class="form-control">
								<option value="">any event</option>
								<option *ngFor="let item of allEvents | async" [value]="item._id">{{item.name}}</option>
							</select>
						</div>
						<div class="col-md-1">
							<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</ng-template>
					<ng-template [ngSwitchCase]="searchManager.notParticipateKey">
						<label for="{{key}}" class="col-md-3 control-label">NOT participating in</label>
						<div class="col-md-8">
							<select id="{{key}}" formControlName="{{key}}" class="form-control">
								<option value="">any event</option>
								<option *ngFor="let item of allEvents | async" [value]="item._id">{{item.name}}</option>
							</select>
						</div>
						<div class="col-md-1">
							<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</ng-template>
				</div>
			</ng-template>
			<!-- <div class="form-group">
				<select class="form-control">
					<option *ngFor="let criteria of searchCriterias" [value]="criteria.key">{{criteria.title}}</option>
				</select>
			</div> -->
			<button type="button" class="btn btn-info" (click)="onSubmit(false)">
				<span class="glyphicon glyphicon-search"></span> FIND COMPANIES
			</button>
			<button type="button" class="btn btn-info" (click)="onSubmit(true)">
				<span class="glyphicon glyphicon-search"></span> FIND CONTACTS
			</button>
		</form>
	</div>
</div>
<table *ngIf="companies && companies.length > 0" class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>company name</th>
			<th>location</th>
			<th># of activities</th>
			<th># of contacts</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let company of companies">
			<td>
				{{company.name}}
				<sup *ngIf="company.isNew">
					<mark>new</mark>
				</sup>
			</td>
			<td scope="row">{{company.country}} {{company.city ? '(' + company.city + ')' : ''}}</td>
			<td scope="row">{{company.activitiesNum}}</td>
			<td scope="row">{{company.contactsNum}}</td>
		</tr>
	</tbody>
</table>
<table *ngIf="contacts && contacts.length > 0" class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>contact name</th>
			<th>job title</th>
			<th>company name</th>
			<th>country</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let contact of contacts">
			<td>
				{{contact.name}}
				<sup *ngIf="contact.isNew">
					<mark>new</mark>
				</sup>
				<sup *ngIf="!contact.active">fired!</sup>
			</td>
			<td>{{contact.jobTitle}}</td>
			<td>{{contact.companyName}}</td>
			<td>{{contact.country}}</td>
		</tr>
	</tbody>
</table>
