<div class="panel panel-default">
	<div class="panel-heading">
		Search
		<span class="pull-right" *ngIf="searchCriterias.length > 0">
			<select #criteriaBox (change)="addCriteria($event.target.value);criteriaBox.value='';">
				<option value="">choose to add search criteria</option>
				<option *ngFor="let criteria of searchCriterias" [value]="criteria.key">{{criteria.title}}</option>
			</select>
		</span>
	</div>
	<div class="panel-body">
		<form [formGroup]="searchForm">
			<table class="table table-condensed table-borderless">
				<ng-template ngFor let-key [ngForOf]="searchManager.inUse" let-i="index">
					<tbody [ngSwitch]="searchManager.getKeyName(key)">
						<ng-template [ngSwitchCase]="searchManager.companyNameKey">
							<tr>
								<th class="pull-right">by company name</th>
								<td>
									<input formControlName="{{key}}" type="text" class="form-control" />
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.contactNameKey">
							<tr>
								<th class="pull-right">by contact name</th>
								<td>
									<input formControlName="{{key}}" type="text" class="form-control" />
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.createdKey">
							<tr formGroupName="{{key}}">
								<th class="pull-right">by date created</th>
								<td>
									<div class="input-group">
										<span class="input-group-addon">after </span>
										<input formControlName="from" type="date" class="form-control" />
									</div>
									<div class="input-group">
										<span class="input-group-addon">before </span>
										<input formControlName="to" type="date" class="form-control" />
									</div>
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.regionsKey">
							<tr>
								<th class="pull-right">by regions</th>
								<td>
									<ss-multiselect-dropdown formControlName="{{key}}" [options]="regionOptions | async" [settings]="{showCheckAll:true,showUncheckAll:true,dynamicTitleMaxItems:3,displayAllSelectedText:true}"
									 [texts]="{defaultTitle: 'no region', allSelected: 'any region', checkedPlural: 'regions'}">no region</ss-multiselect-dropdown>
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.countriesKey">
							<tr>
								<th class="pull-right">by countries</th>
								<td>
									<ss-multiselect-dropdown formControlName="{{key}}" [options]="countryOptions | async" [settings]="{showCheckAll:true,showUncheckAll:true,dynamicTitleMaxItems:3,displayAllSelectedText:true}"
									 [texts]="{defaultTitle: 'no country', allSelected: 'any country', checkedPlural: 'countries'}">no country</ss-multiselect-dropdown>
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.activitiesKey">
							<tr>
								<th class="pull-right">by activities</th>
								<td>
									<ss-multiselect-dropdown formControlName="{{key}}" [options]="activityOptions | async" [settings]="{showCheckAll:true,showUncheckAll:true,dynamicTitleMaxItems:3,displayAllSelectedText:true}"
									 [texts]="{defaultTitle: 'no activity', allSelected: 'any activity', checkedPlural: 'activities'}">no activity</ss-multiselect-dropdown>
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.retiredKey">
							<tr>
								<th class="pull-right">by active/ inactive state</th>
								<td>
									<select formControlName="{{key}}" class="form-control">
										<option value="">active only companies</option>
										<option value="both">active and inactive companies</option>
										<option value="inactiveOnly">inactive only companies</option>
									</select>
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.participateKey">
							<tr formGroupName="{{key}}">
								<th class="pull-right">by participation</th>
								<td>
									<select formControlName="event" class="form-control">
										<option value="">any event</option>
										<option *ngFor="let item of allEvents | async" [value]="item._id">{{item.name}}</option>
									</select>
									<div class="input-group">
										<span class="input-group-addon">in status of </span>
										<select formControlName="status" class="form-control">
											<option value="">any</option>
											<option *ngFor="let item of allPartyStatuses | async" [value]="item._id">{{item.name}}</option>
										</select>
									</div>
									<div class="input-group">
										<span class="input-group-addon">in category of </span>
										<select formControlName="category" class="form-control">
											<option value="">any</option>
											<option *ngFor="let item of allPartyCategories | async" [value]="item._id">{{item.name}}</option>
										</select>
									</div>
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
						<ng-template [ngSwitchCase]="searchManager.notParticipateKey">
							<tr formGroupName="{{key}}">
								<th class="pull-right">by NO participation</th>
								<td>
									<select formControlName="event" class="form-control">
										<option value="">any event</option>
										<option *ngFor="let item of allEvents | async" [value]="item._id">{{item.name}}</option>
									</select>
									<div class="input-group">
										<span class="input-group-addon">in status of </span>
										<select formControlName="status" class="form-control">
											<option value="">any</option>
											<option *ngFor="let item of allPartyStatuses | async" [value]="item._id">{{item.name}}</option>
										</select>
									</div>
									<div class="input-group">
										<span class="input-group-addon">in category of </span>
										<select formControlName="category" class="form-control">
											<option value="">any</option>
											<option *ngFor="let item of allPartyCategories | async" [value]="item._id">{{item.name}}</option>
										</select>
									</div>
								</td>
								<td>
									<button type="button" class="btn btn-default" (click)="removeCriteria(key)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</ng-template>
					</tbody>
				</ng-template>
			</table>
			<button type="button" class="btn btn-info" (click)="onSubmit(false)">
				<span class="glyphicon glyphicon-search"></span> FIND COMPANIES
			</button>
			<button type="button" class="btn btn-info" (click)="onSubmit(true)">
				<span class="glyphicon glyphicon-search"></span> FIND CONTACTS
			</button>
		</form>
	</div>
</div>
<table *ngIf="companies && companies.length > 0" class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>company name</th>
			<th>location</th>
			<th># of activities</th>
			<th># of contacts</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let company of companies">
			<td>
				{{company.name}}
				<sup *ngIf="company.isNew">
					<mark>new</mark>
				</sup>
			</td>
			<td scope="row">{{company.country}} {{company.city ? '(' + company.city + ')' : ''}}</td>
			<td scope="row">{{company.activitiesNum}}</td>
			<td scope="row">{{company.contactsNum}}</td>
		</tr>
	</tbody>
</table>
<table *ngIf="contacts && contacts.length > 0" class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>contact name</th>
			<th>job title</th>
			<th>company name</th>
			<th>country</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let contact of contacts">
			<td>
				{{contact.name}}
				<sup *ngIf="contact.isNew">
					<mark>new</mark>
				</sup>
				<sup *ngIf="!contact.active">fired!</sup>
			</td>
			<td>{{contact.jobTitle}}</td>
			<td>{{contact.companyName}}</td>
			<td>{{contact.country}}</td>
		</tr>
	</tbody>
</table>
