<form [formGroup]="companyForm" (ngSubmit)="onSubmit(false)" novalidate>
	<nav class="navbar navbar-default">
		<p class="navbar-text">
			<span class="glyphicon glyphicon-home"></span> Company
		</p>
		<button type="button" class="btn btn-default navbar-btn" (click)="onCancel()">
			<span class="glyphicon glyphicon-arrow-left"></span> close
		</button>
		<button type="button" [disabled]="companyForm.pristine || companyForm.invalid" class="btn btn-default navbar-btn"
		 (click)="onSubmit(false)">
			<span class="glyphicon glyphicon-ok"></span> SAVE
		</button>
		<button type="button" *ngIf="canBeDeleted" class="btn btn-default navbar-btn pull-right" [disabled]="modalRef"
		 (click)="deleteConfirmation(template)">
			<span class="glyphicon glyphicon-trash"></span> delete
		</button>
	</nav>
	<ng-template #template>
		<div class="modal-body" role="dialog">
			<div class="panel panel-default">
				<div class="panel-body">You are about to delete company record from database. This can't be undone. Are you sure?</div>
			</div>
			<button type="button" class="btn btn-info" (click)="deleteCancelled()">No, no way</button>
			<button type="button" class="btn btn-danger" (click)="deleteConfirmed()">Yes, delete</button>
		</div>
	</ng-template>

	<div class="form-group" [ngClass]="{'has-error': companyForm.get('name').dirty && companyForm.get('name').invalid}">
		<label for="name">Name:</label>
		<input id="name" formControlName="name" type="text" class="form-control" placeholder="type name of company here (required)">
		<div *ngIf="similars.length != 0" class="alert alert-warning" role="alert">
			<strong>Similar names found</strong>
			<br>We have similar company names in database:
			<ul>
				<li *ngFor="let name of similars">{{name}}</li>
			</ul>
			If you decide to store this record anyway please press 'Save anyway' below. Otherwise consider
			changes and press 'Save' above
			<br>
			<button type="button" class="btn btn-default" (click)="onSubmit(true)">Save anyway</button>
		</div>
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<textarea id="description" formControlName="description" rows="5" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="country">Country:</label>
		<select id="country" formControlName="country" class="form-control">
			<option value="">[no country]</option>
			<option *ngFor="let item of countries | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="city">City:</label>
		<input id="city" formControlName="city" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label for="activities">Activities:</label>
		<small>use Ctrl-click for multiple selection or deselection</small>
		<select multiple id="activities" formControlName="activities" class="form-control">
			<option *ngFor="let item of activities | async" [value]="item._id">{{item.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="phone">Phone number:</label>
		<input id="phone" formControlName="phone" type="tel" class="form-control">
	</div>
	<div class="form-group">
		<label for="website">Website:</label>
		<input id="website" formControlName="website" type="url" class="form-control">
	</div>
</form>
